@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="about" style="font-family:'Courier New';
font-size:20px; padding:50px; text-align:center;">

    <h2> About </h2><br/>
    <p>Going to blog about my journey to be a web designer. </p><br/>
    <p>Moving into a new space...learning to program to create and build web pages and apps is exciting .</p><br />
    <p>I got to build my own website to blog and that was something completely amazing!</p><br />
    <p>And this blog is going to be connecting me with so many people, interface with the outside world.</p>
</div>