@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="contact" style="font-size:20px; padding:50px;text-align:center; font-family:'Courier New'">
    <h2>My Contact</h2>
Kingfisher <br/> 
56 Candy Road<br/>
Willington<br />
MA 56718 <br /> 

Phone     866.205.9346 <br/> 
<strong>Email:</strong>   <a href="kingfisher@gmail.com">kingfisher@gmail.com</a><br />
</div>